<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/style.css">
    <link rel="shortcut icon" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/img/favicon.ico" type="image/x-icon">

      <style media="screen">
      .custom-list {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
      }
      </style>

    <title>MVP</title>
   
  </head>
  <body class="d-flex flex-column h-100">
    
    <div class="container pt-4 pb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <a class="navbar-brand" href="/">СБДОУДШ</a>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav custom-list">
                    <li class="nav-item">
                        <a class="nav-link" href="/reg/Person">Регистрация Родителя</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reg/Teacher">Регистрация Учителя</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/person/">Вход для Родителей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teacher/">Вход для Педагогов</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
      
    <footer class="footer mt-auto py-3">
        <div class="container pb-5">
            <hr>
            <span class="text-muted">
                  <a> Copyright &copy; 2024 </a>
            </span>
        </div>
    </footer>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/bootstrap.min.js"></script>
  </body>
</html>