<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .authors tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .authors td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<a href="/">Home</a>
<h3>authors:</h3>

<table class="authors">
    <thead>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.fullName}">John Doe</td>
        <td>
            <a href="editAuthor.html" th:href="@{/api/authors/editAuthor(id=${author.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
